<a href="https://colab.research.google.com/github/putiwindra/putiwindra/blob/main/%5BJURNAL_PRAKTIKUM_SSD_2%5D120450070_PUTI_WINDRAHMATULLAH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TUGAS JURNAL PRAKTIKUM STASTISTIKA SAINS DATA

MODUL 2

*   Puti Windrahmatullah
*   120450070

In [ ]:
import pandas as pd
import numpy as np

url='https://drive.google.com/file/d/1-GfCcZ3pST11Yz1l_4CHcMaRJu34CVlv/view'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40949 entries, 0 to 40948
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40949 non-null  object
 1   trending_date           40949 non-null  object
 2   title                   40949 non-null  object
 3   channel_title           40949 non-null  object
 4   category_id             40949 non-null  int64
 5   publish_time            40949 non-null  object
 6   tags                    40949 non-null  object
 7   views                   40949 non-null  int64
 8   likes                   40949 non-null  int64
 9   dislikes                40949 non-null  int64
 10  comment_count           40949 non-null  int64
 11  thumbnail_link          40949 non-null  object
 12  comments_disabled       40949 non-null  bool
 13  ratings_disabled        40949 non-null  bool
 14  video_error_or_removed  40949 non-null  bool
 15  description             40379 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 4.2+ MB

In [ ]:
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [ ]:
s = df.sample(frac=0.01)[['likes','views','dislikes']]
s

        likes     views  dislikes
24219   50234   1812359      3597
23962    5791    177839        60
20134   46817    799245      1101
31237   69947   1389767      2590
6748       62     11199        11
...       ...       ...       ...
12701   59398   1984089      7234
39471   69374   1292699       619
30504  360336  12412315     20636
37598    6883    273880      1184
5344     4470    409225        37

[409 rows x 3 columns]

In [ ]:
s.mean()

likes       5.899622e+04
views       1.881058e+06
dislikes    2.595636e+03
dtype: float64

In [ ]:
s.var()

likes       2.729237e+10
views       2.425413e+13
dislikes    6.459613e+07
dtype: float64

In [ ]:
s.query('dislikes>(0.1 * likes)')

       likes    views  dislikes
6748      62    11199        11
23105   5401   472551      1181
27573  12229   454896      1965
34969  70190  3669938      8078
13035    846   173889       648
...      ...      ...       ...
40079  90889  3364192     66082
16286    137    28748        41
32180   2228   425023      1414
12701  59398  1984089      7234
37598   6883   273880      1184

[76 rows x 3 columns]

In [ ]:
s[s['dislikes']>0.1*s['likes']]

       likes    views  dislikes
6748      62    11199        11
23105   5401   472551      1181
27573  12229   454896      1965
34969  70190  3669938      8078
13035    846   173889       648
...      ...      ...       ...
40079  90889  3364192     66082
16286    137    28748        41
32180   2228   425023      1414
12701  59398  1984089      7234
37598   6883   273880      1184

[76 rows x 3 columns]

In [ ]:
df2=s.query('dislikes>0.1*likes')
df2=df2.assign(ratio=df2['likes']/df['likes'])

In [ ]:
df2=df2.sort_values('ratio',ascending=False)

In [ ]:
df2

       likes    views  dislikes  ratio
6748      62    11199        11    1.0
14103    412    59198      2016    1.0
16375    934  9177109       115    1.0
2428   26979  1111552      3442    1.0
6756    2321   278376       517    1.0
...      ...      ...       ...    ...
22470   1676   341469       349    1.0
35950  39365  3508880      6892    1.0
10904    395    87198       449    1.0
5100   10984   359325      1637    1.0
37598   6883   273880      1184    1.0

[76 rows x 4 columns]

In [ ]:
df2 = df2.assign(label = np.zeros_like(df2['likes'].values))

In [ ]:
df2

       likes    views  dislikes  ratio  label
6748      62    11199        11    1.0      0
14103    412    59198      2016    1.0      0
16375    934  9177109       115    1.0      0
2428   26979  1111552      3442    1.0      0
6756    2321   278376       517    1.0      0
...      ...      ...       ...    ...    ...
22470   1676   341469       349    1.0      0
35950  39365  3508880      6892    1.0      0
10904    395    87198       449    1.0      0
5100   10984   359325      1637    1.0      0
37598   6883   273880      1184    1.0      0

[76 rows x 5 columns]

In [ ]:
df2.loc[df2.where(df2['ratio']>=df2['ratio'].mean()).dropna().index, 'label'] = 1

In [ ]:
df2

       likes    views  dislikes  ratio  label
6748      62    11199        11    1.0      1
14103    412    59198      2016    1.0      1
16375    934  9177109       115    1.0      1
2428   26979  1111552      3442    1.0      1
6756    2321   278376       517    1.0      1
...      ...      ...       ...    ...    ...
22470   1676   341469       349    1.0      1
35950  39365  3508880      6892    1.0      1
10904    395    87198       449    1.0      1
5100   10984   359325      1637    1.0      1
37598   6883   273880      1184    1.0      1

[76 rows x 5 columns]

In [ ]:
df2['ratio'].mean()

1.0

In [ ]:
df2.query('label == 1')

       likes    views  dislikes  ratio  label
6748      62    11199        11    1.0      1
14103    412    59198      2016    1.0      1
16375    934  9177109       115    1.0      1
2428   26979  1111552      3442    1.0      1
6756    2321   278376       517    1.0      1
...      ...      ...       ...    ...    ...
22470   1676   341469       349    1.0      1
35950  39365  3508880      6892    1.0      1
10904    395    87198       449    1.0      1
5100   10984   359325      1637    1.0      1
37598   6883   273880      1184    1.0      1

[76 rows x 5 columns]

In [ ]:
df2.query('label == 0')

Empty DataFrame
Columns: [likes, views, dislikes, ratio, label]
Index: []

In [ ]:
df3=df.query('likes == 0')

In [ ]:
df3[['views','likes','dislikes']].describe()

              views  likes    dislikes
count  1.720000e+02  172.0  172.000000
mean   4.052518e+06    0.0    0.029070
std    1.135538e+07    0.0    0.274178
min    1.456000e+03    0.0    0.000000
25%    7.713425e+04    0.0    0.000000
50%    4.290240e+05    0.0    0.000000
75%    1.012722e+06    0.0    0.000000
max    5.611196e+07    0.0    3.000000

In [ ]:
df3.sort_values('views',ascending=False)\

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
18150,BhIEIO0vaBE,18.14.02,To Our Daughter,Kylie Jenner,22,2018-02-04T20:27:38.000Z,"Kylie Jenner|""Kylie""|""Travis Scott""|""Baby""|""An...",56111957,0,0,0,https://i.ytimg.com/vi/BhIEIO0vaBE/default.jpg,True,True,False,Directed by Tyler Ross @wttyler\nMusic by Jaco...
17916,BhIEIO0vaBE,18.13.02,To Our Daughter,Kylie Jenner,22,2018-02-04T20:27:38.000Z,"Kylie Jenner|""Kylie""|""Travis Scott""|""Baby""|""An...",55063465,0,0,0,https://i.ytimg.com/vi/BhIEIO0vaBE/default.jpg,True,True,False,Directed by Tyler Ross @wttyler\nMusic by Jaco...
17716,BhIEIO0vaBE,18.12.02,To Our Daughter,Kylie Jenner,22,2018-02-04T20:27:38.000Z,"Kylie Jenner|""Kylie""|""Travis Scott""|""Baby""|""An...",54454945,0,0,0,https://i.ytimg.com/vi/BhIEIO0vaBE/default.jpg,True,True,False,Directed by Tyler Ross @wttyler\nMusic by Jaco...
17496,BhIEIO0vaBE,18.11.02,To Our Daughter,Kylie Jenner,22,2018-02-04T20:27:38.000Z,"Kylie Jenner|""Kylie""|""Travis Scott""|""Baby""|""An...",53183123,0,0,0,https://i.ytimg.com/vi/BhIEIO0vaBE/default.jpg,True,True,False,Directed by Tyler Ross @wttyler\nMusic by Jaco...
17286,BhIEIO0vaBE,18.10.02,To Our Daughter,Kylie Jenner,22,2018-02-04T20:27:38.000Z,"Kylie Jenner|""Kylie""|""Travis Scott""|""Baby""|""An...",51243149,0,0,0,https://i.ytimg.com/vi/BhIEIO0vaBE/default.jpg,True,True,False,Directed by Tyler Ross @wttyler\nMusic by Jaco...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,aLSG3178eD4,17.03.12,Tell Hollywood to stand with immigrants,Define American,29,2017-11-28T13:00:35.000Z,"DACA|""black panther""",2093,0,0,0,https://i.ytimg.com/vi/aLSG3178eD4/default.jpg,True,True,False,"Undocumented in Hollywood? Yes, and we are #He..."
12492,VoUEz9yQJ8w,18.17.01,RAPID EYE MOVEMENT⎪Teaser Trailer,Tentmaker Pictures,1,2018-01-16T14:12:35.000Z,"Francois Arnaud|""Peter Bishai""|""sleep deprivat...",2068,0,0,1,https://i.ytimg.com/vi/VoUEz9yQJ8w/default.jpg,False,True,False,"From Director Peter Bishai (Colors of Heaven),..."
3776,aLSG3178eD4,17.02.12,Tell Hollywood to stand with immigrants,Define American,29,2017-11-28T13:00:35.000Z,"DACA|""black panther""",2005,0,0,0,https://i.ytimg.com/vi/aLSG3178eD4/default.jpg,True,True,False,"Undocumented in Hollywood? Yes, and we are #He..."
3543,aLSG3178eD4,17.01.12,Tell Hollywood to stand with immigrants,Define American,29,2017-11-28T13:00:35.000Z,"DACA|""black panther""",1873,0,0,0,https://i.ytimg.com/vi/aLSG3178eD4/default.jpg,True,True,False,"Undocumented in Hollywood? Yes, and we are #He..."
3313,aLSG3178eD4,17.30.11,Tell Hollywood to stand with immigrants,Define American,29,2017-11-28T13:00:35.000Z,"DACA|""black panther""",1456,0,0,0,https://i.ytimg.com/vi/aLSG3178eD4/default.jpg,True,True,False,"Undocumented in Hollywood? Yes, and we are #He..."

In [ ]:
df.query('ratings_disabled == True').describe()

       category_id         views  likes  dislikes  comment_count
count   169.000000  1.690000e+02  169.0     169.0     169.000000
mean     18.384615  4.124415e+06    0.0       0.0     412.106509
std       8.812869  1.144330e+07    0.0       0.0    1075.762958
min       1.000000  1.456000e+03    0.0       0.0       0.000000
25%      10.000000  8.583300e+04    0.0       0.0       0.000000
50%      22.000000  4.594910e+05    0.0       0.0       0.000000
75%      24.000000  1.015005e+06    0.0       0.0     179.000000
max      29.000000  5.611196e+07    0.0       0.0    5286.000000

In [ ]:
df.query('ratings_disabled == False and likes==0')

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
192,wRGldR_SQAA,17.14.11,Apple Clips sample,Steve Kovach,22,2017-11-09T18:01:04.000Z,[none],2259,0,0,0,https://i.ytimg.com/vi/wRGldR_SQAA/default.jpg,False,False,False,Clips 2.0 lets you use augmented reality and s...
1490,A_mlvG_nRsg,17.21.11,Kelly Oubre Punches John Wall in the Lead duri...,Rob Andretti,17,2017-10-28T11:15:14.000Z,[none],2197,0,2,0,https://i.ytimg.com/vi/A_mlvG_nRsg/default.jpg,False,False,False,I'm BACK! \n\n• Will you be apart of the take ...
1741,A_mlvG_nRsg,17.22.11,Kelly Oubre Punches John Wall in the Lead duri...,Rob Andretti,17,2017-10-28T11:15:14.000Z,[none],2447,0,3,1,https://i.ytimg.com/vi/A_mlvG_nRsg/default.jpg,False,False,False,I'm BACK! \n\n• Will you be apart of the take ...

In [ ]:
q1='(likes > dislikes)'
q2='(likes < dislikes)'
dfq1=df.query(q1)

In [ ]:
dfq2=df.query(q2)

In [ ]:
bandi=lambda L:list(map(lambda x:x/sum(L),L))

re=[dfq1.shape[0],dfq2.shape[0]]
print(bandi(re))

[0.9858712715855573, 0.0141287284144427]

In [ ]:
r1=dfq1.loc[:,'views'].mean()
st1=dfq1.loc[:,'views'].std()

In [ ]:
r2=dfq2.loc[:,'views'].mean()
st2=dfq2.loc[:,'views'].std()

In [ ]:
print(bandi([r1,r2]))

[0.6936325660781124, 0.3063674339218876]

In [ ]:
print(bandi([st1,st2]))

[0.6525291274590552, 0.3474708725409449]

In [ ]:
r1=dfq1.loc[:,'comment_count'].mean()
st1=dfq1.loc[:,'comment_count'].std()

In [ ]:
r2=dfq2.loc[:,'comment_count'].mean()
st2=dfq2.loc[:,'comment_count'].std()

In [ ]:
print(bandi([r1,r2]))

[0.348787682929341, 0.6512123170706591]

In [ ]:
print(bandi([st1,st2]))

[0.2269874820781621, 0.773012517921838]

In [ ]:
df4=df.query('comments_disabled==True')
df4=df4.assign(ratio=df4['likes']/(df4['likes']+df4['dislikes']))

In [ ]:
r1=df4['ratio'].mean()

In [ ]:
print(r1,1-r1,sep=':')

0.8324019250989896:0.16759807490101042

In [ ]:
df5=df.query('ratings_disabled==True')
df5=df5.assign(ratio=df5['comment_count']/(df5['views']+df5['comment_count']))

In [ ]:
r1=df5['ratio'].mean()

In [ ]:
print(r1,1-r1)

0.0018133621624128007 0.9981866378375872

In [ ]:
df.query('tags=="[none]"')['views'].mean()

1494136.3687296417

In [ ]:
df['views']

0          748374
1         2418783
2         3191434
3          343168
4         2095731
           ...
40944     1685609
40945     1064798
40946     1066451
40947     5660813
40948    10306119
Name: views, Length: 40949, dtype: int64

In [ ]:
df['likes']+df['dislikes']

0         60493
1        103331
2        151372
3         10838
4        134224
          ...
40944     39545
40945     60390
40946     49100
40947    195803
40948    570055
Length: 40949, dtype: int64

In [ ]:
df['views']-(df['likes']+df['dislikes'])

0         687881
1        2315452
2        3040062
3         332330
4        1961507
          ...
40944    1646064
40945    1004408
40946    1017351
40947    5465010
40948    9736064
Length: 40949, dtype: int64

In [ ]:
r1=((df['views']-(df['likes']+df['dislikes']))/df['views']).mean()

In [ ]:
print(r1,1-r1)

0.9639728697489426 0.036027130251057415

In [ ]:
df2=df.copy()
df2=df2.assign(kluster=np.zeros_like(df['likes'].values))

klus1=df2.query('likes < 10**6 and views < 50 * 10**6')
klus2=df2.query('likes < 10**6 and views >= 50 * 10**6')
klus3=df2.query('likes >= 10**6 and views >= 50 * 10**6')
klus4=df2.query('likes >= 10**6 and views < 50 * 10**6')

df2.loc[klus1.index,'kluster'] = 1
df2.loc[klus2.index,'kluster'] = 2
df2.loc[klus3.index,'kluster'] = 3
df2.loc[klus4.index,'kluster'] = 4

In [ ]:
df2.query('kluster==1').count()['video_id']

40542

In [ ]:
df2.query('kluster==2').count()['video_id']

38

In [ ]:
df2.query('kluster==3').count()['video_id']

139

In [ ]:
df2.query('kluster==4').count()['video_id']

230